#root {
    max-width: 100%;
}

.flexCol {
    flex-direction: column;
    display: flex;
    width: 15em;
    gap:2em;
}
.flexRow{
    flex-direction: row;
    display: flex;
    gap:2em;
    margin-bottom:.75em;
    
}
.flexRow.centered{
    justify-content: center;
}

.flexRow.wrap{
    flex-wrap: wrap;
}

.tbWrapper input{
    font-size:1.13em;width:75%;margin-right:5%;
    margin-bottom:1em;
}
.tbWrapper button{
    width:15%;
    padding:.35em 0;
}

.greenBtn{background-color:forestgreen;}